#root {
  text-align: center;
  background-image: url(./assets/giphy.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  min-width: 100vw;
  align-items: start;
  display: flex;
  justify-content: center;
}
body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 80px;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 0;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

#showButton {
  background-color: rgb(123, 0, 123); 
}

#resetButton {
  background-color: red;
}
