
p {
    /* 1. Apply a red background to all paragraphs */
    background-color: red;
    /* 11. Change the font family of all <p> elements to Arial */
    font-family: Arial;
    /* 13. Make the text of all <p> elements bold */
    font-weight: bold;
}


.blue-text {
    /* 2. Apply a blue text color to elements with the class `blue-text` */
    color: blue;
}


#unique-element {
    /* 3. Apply a green border to the element with the id `unique-element` */
    border: green solid 5px;
}


div span {
    /* 4. Apply a font size of 20px to all <span> elements inside <div> */
    font-size: 20px;
}


input[type=text] {
    /* 5. Apply a yellow background to all input elements with type="text" */
    background-color: yellow;
}


h1 {
    /* 6. Change the text color of all <h1> elements to purple */
    color: purple;
}


div {
    /* 7. Change the background color of all <div> elements to light blue */
    background-color: lightblue;
    /* 10. Set the opacity of all <div> elements to 0.5 */
    opacity: 0.5;
    /* 16. Add a 20px margin to all <div> elements */
    margin: 20px;
    /* 17. Add a 10px padding to all <div> elements */
    padding: 10px;
    /* 18. Add a solid, 2px black border to all <div> elements */
    border: black solid 2px;
    /* 20. Add a shadow to all <div> elements */
    box-shadow: 10px 5px 5px red;
}


body {
    /* 8. Apply a background image to the body element */
    background-image: url("assets/bgImage.webp");
    /* 9. Prevent the background image from repeating */
    background-repeat: no-repeat;
}


h2 {
    /* 12. Change the font size of all <h2> elements to 24px */
    font-size: 24px;
}


h3 {
    /* 14. Center align all <h3> elements */
    text-align: center;
}


a {
    /* 15. Remove underlines all links */
    text-decoration: none;
}


img {
    /* 19. Set the width of all <img> elements to 200px and height to 150px */
    width: 200px;
    height: 150px;
}

span {
    /* 21. Change the display property of all <span> elements to block */
    display: block;
}

#top-right {
    /* 22. Position a <div> element at the top-right corner of the page */
    position: absolute;
    top: 0;
    right: 0;
}

#float-left {
    /* 23. Float a <div> element to the left  */
    float: left;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}